<nav>
    <div class="ui secondary pointing menu">
        <%if (currentUser === undefined || !currentUser.isAdmin) { %>
          <a class="active item" href="/tickets">
        <% } else if(currentUser.isAdmin){ %>
          <a class="active item" href="/users">
        <% } %>
          <img id="logo" class="ui tiny image" src="../../img/QTicketLogo.jpg">
        </a>
        <% if(currentUser) { %>
        <div class="right menu">
          <% if(!currentUser.isAdmin) { %>
          <div class="ui item">
          <a href="/tickets/new">
            <button class="ui purple button">Add a Ticket</button>
          </a>
        </div>
        <% } %>
          <div class="ui item">
            <form action="/sessions?_method=DELETE" method="POST">
                <input class="ui purple button" type="submit" value="LOGOUT">
            </form>
        </div>
        <% } else { %>
          <div class="right menu">
            <a class="ui item" href="/sessions/new">
              <button class="ui purple button">Log In</button>
              </a>
                <a class="ui item" href="/users/new">
                  <button class="ui purple button">Register</button>
                </a>
        </div>
        <% } %>
      </div>
</nav>