<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <h1>QTicket Login</h1>
    <%- include("./partials/nav.ejs") %>
    <h2>
        <% if (currentUser) { %>
            Welcome <%= currentUser.username %>!
        <% } else { %>
            Welcome
        <% } %>
    </h2>
    <% if (currentUser) { %>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="LOGOUT">
            </form>
        </li>
    <% } %>

</body>
</html>