body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }

  #login {
    margin-top: -100px;
  }

  #logo {
    margin-top: 0;
  }

  .signup-register, .header > a {
    color: #4D0068;
  }

  .signup-register:hover {
    color: #009C95;
  }

  .purple {
    background-color: #4D0068 !important;
  }

  .ui.image.header, .ui.header, .header, .welcome {
    color: #4D0068 !important;
  }

  .raised.very.padded.text.container.segment {
    margin-bottom: 100px;
  }

  .welcome {
    margin-top: 1em;
    text-align: center;
  }