body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }

  #login {
    margin-top: -100px;
  }

  #logo {
    margin-top: 0;
  }

  .signup-register {
    color: #4D0068;
  }

  .signup-register:hover {
    color: #009C95;
  }

  .purple {
    background-color: #4D0068 !important;
  }

  .ui.image.header {
    color: #4D0068 !important;
  }